<div class="row">
<div class="col-md-3" style="margin-left:2px; padding:10px">
  <app-sidebar></app-sidebar>
</div>
<div class="col-md">
<main>
    <!-- Background image -->
    <div class="row" style="
        background-image: url('/assets/images/banner.jpg');
        height: 400px;
        min-width: 0;
        border-radius: 1%;
        margin-top: 2px;
        ">
      <!-- <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
        <div class="d-flex justify-content-center align-items-center h-100">
          <div class="text-white">
            <h1 class="mb-3">Heading</h1>
            <h4 class="mb-3">Subheading</h4>
          </div>
        </div>
      </div> -->
    </div>
    <div class="row">
      <div class="col-md-8">
        Announcements
        <hr><hr><hr><hr>
      </div>
      <div class="col-md-4">
        Quizzes
      </div>
    </div>
  </main>
</div>
</div>